body{
  margin:0;
  padding:0;
  font-family:sans-serif;
}
.container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 250px 1fr 1fr 1fr;

}
.sidebar{
  border:1px solid grey;
  background-color: rgb(37, 135, 180);
  color:#ddd;
  padding:15px;
  grid-column: 1/2;
  grid-row: 1/5;
}
.dash-items{
 display:flex;
  flex-direction: row;
}
.sidebar p {
  font-size: 1rem;
}
p > a{
  list-style-type: none;
  color:white;
}

.header{
  
  background-color: rgb(231, 247, 255);
  color:#0a0a0a;
  padding:15px;
  grid-column: 2/6;
  grid-row: 1/2;
  display:grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 100px 100px;
}

input{
  width:500px;
}
.main-content{
  grid-column:2/6;
  grid-row:2/5;
  display:grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 1fr ;

 

}
.projects-container{
grid-column: 1/2;
grid-row:1/3; 
display:grid;
grid-template-columns: 1fr 1fr;

}

.annoncements{
  grid-column: 2/3;
  grid-row:1/2;
  border:1px solid black;
}
.trending{
  grid-column: 2/3;
  grid-row:2/3;
}
.card{
  width:auto;
  position: relative;
  background-color:#ddd;
  height:200px;
  border-left: 4px solid rgb(0, 218, 145);
  margin:10px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0);
}

.card h3 {
  margin-top: 15px;
  margin-left: 20px;
}
.card p{
  margin-left:20px;
}
.icons {
  position: absolute;
  bottom: 10px;
  right: 10px;
  display: flex;
  gap: 10px;
}

.icon {
  width: 16px;
  height: 16px;
}

.my-home-icon {
  margin-top: 15px;
  margin-right:20px;
  width: 28px;
  height: 28px;
  fill: #ddd; 
}
.icon-white {
  margin-top: 15px;
  margin-right:20px;
  width: 24px;
  height: 24px;
  fill: #ddd ;
}
.icon-message {
  margin-top: 15px;
  margin-right:20px;
  width: 24px;
  height: 24px;
  fill: #ddd ;
}
.icon-history{
  margin-top: 15px;
  margin-right:20px;
  width: 24px;
  height: 24px;
  fill: #ddd ;
}
.icon-task{
  margin-top: 15px;
  margin-right:20px;
  width: 24px;
  height: 24px;
  fill: #ddd ;
}
.icon-comt{
  margin-top: 15px;
  margin-right:20px;
  width: 24px;
  height: 24px;
  fill: #ddd ;
}
.icon-settings{

  margin-top: 15px;
  margin-right:20px;
  width: 24px;
  height: 24px;
  fill: #ddd ;
}
.icon-support{
  margin-top: 15px;
  margin-right:20px;
  width: 24px;
  height: 24px;
  fill: #ddd ;
}
.icon-privacy{
  margin-top: 15px;
  margin-right:20px;
  width: 24px;
  height: 24px;
  fill: #ddd ;
}
.icon-dashboard{
  margin-top: 15px;
  margin-right:20px;
  width: 35px;
  height: 35px;
  fill: #ddd ;
}
.icon-search{
  margin-top: 15px;
  margin-right:20px;
  width: 24px;
  height: 24px;
  fill: #a81616 ;
}

a {
  text-decoration: none;
}
.header {
  display: flex;
  flex-direction: column;
  padding: 10px;
  background-color: #ddd;
}
.top {
  display: flex;
  align-items: center;
}
.below {
  display: flex;
  align-items: center;
  margin-top: 10px;
}
.search-bar {
  margin: 0 10px;
  flex-grow: 1;
}
.notification-icon, .small-logo, .text-rick {
  margin: 0 5px;
}
.text-rick {
  font-weight: bold;
  margin-left: auto;
}
.below .large-logo {
  margin-right: 10px;
}
.user-info {
  margin-right: auto;
}
.buttons {
  display: flex;
  gap: 10px;
 
}
button{
  background-color: rgb(54, 126, 233);
  color:#ddd;
  border-radius: 9px;
  width:100px;
  height:30px;
}
.search-icon{
  width:28px;
}
.notification-icon{
  width:28px;
}
.user-info{
  font-weight: bold;
  font-size:1.5rem;
}
.projects-header h2 {
  font-size: 24px;
  text-align: center;
  margin-bottom: 20px;
 
}
.projects-header{
  text-align: center;
  margin-bottom: 20px;
}
.projects-wrapper {
  display: grid;
  grid-template-rows: auto 1fr; /* Header then container */
}